* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: #fff;
  background-color: #1a1d29;
  font-family: "Poppins", "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}