* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  color: #fff;
  background-color: #1a1d29;
  font-family: "Poppins", "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}